html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0 auto
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Verdana,Arial,sans-serif
    vertical-align: baseline;
}
body {
    line-height: 1.5;
    font-size:100%;
}
ol,
ul,li {
	list-style: none;
	margin:0;
	padding:0
}
ul{
    margin:5px 0 0 15px;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    margin: 0;
    padding: 0;
}
html {
	overflow-y: scroll;
	font-size: 13px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
    outline: none;
}

#wrap {
    min-height:100%;
    widht:100%;
    font-family: Verdana,Arial,sans-serif

}
#head-wrap {
    widht:100%;
    height:40px;
    background-color:#eee;
    padding:10px 0 5px 0px;
    margin-bottom: 40px;
}
#head{
    width:1000px;
    margin:0 auto;
}
#logo {
    border:1px dashed #aaa;
    padding:5px 10px;
    width:100px;
}

#enter-link-cont{
    float:right;
}

#content-wrap{
    width:1000px;
    margin:0 auto;
}

#left-sidebar{
    float:left;
    height:500px;
    border:1px dashed #aaa;
    width:200px;
    margin-right:50px
}

#left-sidebar-menu ul{

}
#left-sidebar-menu li ul{
/*    margin:5px 0 0 0px;*/
}

#content {
    float:right;
    width:730px;
}

.floated-item{
    float:left;
    border:1px dashed #bbb;
    width:200px;
    height:250px;
    margin:0 20px 50px;
}

.item-img{
    height:inherit;
    width:inherit;
}

.item-img img{
    max-width:100%;
}

.item-data{
    padding: 5px 0;
    background-color:#eee;
    text-align:center
}

.look-data {
    width:100%;
}

.look-photo,.choice-photo1,.choice-photo2 {
    float:left;

    height:450px;
    border:1px dashed #aaa;
}
.look-photo{
    width:400px;
}
.look-photo-cont {
    width:400px;
    height:450px;
}
.look-photo-cont img{
    max-width:100%;
}

.photo-desc {
    padding: 5px 0;
    height:20px;
    background-color:#eee;
    text-align:center;
    margin-top:-30px
}

.look-clothes {
    float:right;
    width:200px;
    height:450px;
    border:1px dashed #aaa;
}

.look-rating-cont{
    margin:20px 0;
    border:1px dashed #aaa;
    height:20px;
    padding: 10px 0;
    text-align:center;
}

.edit-look-link-cont{
    text-align:center;
    position:absolute;
    z-index:2;
    display:block;
    width:200px;
    height:150px;
    color:#999;
    font-weight:bold;
    font-size:18px;
    margin-top:-250px;
    padding-top:100px;
    text-decoration:none;
}
.edit-look-link-cont:hover{
    background-color:#eee
}

#iframe-cont{
    display:none
}

#edit-look-form-cont{
    width:800px;
    background-color:#fff;
    padding:10px;
    font-family:Verdana,sans-serif;
}

#edit-look-form-photo-wrap{
    float:left;
}
#edit-look-form-clothes{
    float:right;
    width: 300px;
}
#edit-look-form-photo{
    background-color:#eee;
    min-height:445px;
    width:470px;
    margin-bottom:20px;
}

#form-login{
    width:500px;
    margin:0 auto;
    padding-top:50px;
    border:1px solid dashed;
}
.form-line{
    text-align:center;
    padding:10px 0
}

.form-line-narr{
    text-align:left;
    padding:3px 0
}
.data{
    /*float:right;*/
}
.fom-line-narr .title {
    color:#bbb;
    font-size:smaller;
}
#look-edit-actions-wrap {
    text-align:center
}

#look-edit-actions {
    width:250px;
    margin:0 auto;
}
#save-button{
    float:left;
}

#publish-button{
    float:right;
}

#edit-look-form-clothes h2 {
    font-weight:normal;
    color:#ccc;
}

#edit-look-form-clothes h3 {
    font-weight:normal;
    color:#555;
    padding:5px 10px;
    background-color:#ccc;
    margin:10px 0;
}

#edit-look-form-clothes select{
    width:100%;
    border:1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
    background-color:#fff;
}

#edit-look-form-clothes select option{
    padding:5px 0 5px 30px;
    background-color:#eee;
    border-bottom:1px solid #aaa;
}

#edit-look-form-clothes ul {
    margin:20px 0 0 0;
    padding:0
}

#edit-look-form-clothes ul ul {
    margin:0;
    padding:0;
}
#edit-look-form-clothes li {
    background-color:#eee;
    margin:5px 0;
    padding:5px 0 5px 20px;
}

#clo-item-form{
    position:absolute;
    z-index:20;
    background-color:#ccc;
    border:1px solid #888;
    width:282px;
    padding:5px 10px
}

.eddel-block{
    position:absolute;
    margin-top:-100px;
    margin-left:250px;
}

#alert-popup{
    position:absolute;
    z-index:200000;
    border:1px solid #222;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 15px 20px;
    font-size:1.2em;
    background-color:#fff;
    display:none;
}

.success{
    background-color:green !important;
    color:#eee;
}
.error{
    background-color:red !important;
    color:#eee;
    font-weight:bold;
}

.choice-photo1{
    float:left;
    width:350px;
}
.choice-photo2{
    float:right;
    width:350px;
}

#choice-data .look-photo-cont {
    width: 350px;
}

.look-votes {
    width:100%
    text-align:center;
    height:30px;
    padding-top:5px;
}

.look-votes .votes-wrap{
    margin:0 auto;
}

.look-votes .votes-wrap div{
    float:left;
    width:20%
    padding:3px;
    margin: 0 3px;
}
.look-votes .l,.look-votes .s,.look-votes .d {
    border:1px solid #ccc;
}

.comment-item{
    width:400px;
    text-align:left;
}

.comment-item textarea {
    width:400px;height:50px
}

.comment-item .button {
    text-align:right
}
